.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.top {
  display: flex;
  align-items: center;
}
.bottom {
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.active-btn {
  color: #0b69ff;
}
.unactive-btn {
  color: #94a3b8;
}
.delete_btn {
  height: 20px;
  width: 20px;
}
.para1 {
  margin: 0px 10px;
  text-align: center;
  color: #dee0e3;
  padding-top: 6px;
  border-radius: 18px;
  height: 36px;
  width: 36px;
}
.name_heading {
  margin: 0px 10px;
  font-size: 16px;
  font-weight: 500;

  color: #1e293b;
  align-self: flex-start;
}
.dateclass {
  margin: 0px 10px;
  font-size: 13px;

  color: #7e858e;
  align-self: flex-start;
}
.bottom {
  display: flex;
  align-items: center;
}
.comment_class {
  margin-left: 16px;
  font-size: 13px;
  color: #546070;
}
.myimage {
  padding-top: 7px;
  height: 17px;
}
.mybutton {
  background-color: transparent;
  border: 0px solid;
  font-size: 14px;
}
